// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$primary-color: #6495ed;
$text-color: black;
$disabled-background-color: #cccccc;
$disabled-text-color: #909090;
$outline-color: $text-color;
$disabled-button-color: #902ca6;
$button-color: #87289c;
