@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.navbar {
  background: #102B3F;
  border-top-right-radius: 30px 30px;
  height: 100vh;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;

  hr {
    width: 250px;
    align-self: center;
    height: 0px;
    border: none;
    border-top: 1px solid rgba(114, 75, 203, 0.25);
  }
}

.logo-container {
    display: flex;
    align-self: center;

    &_logo {
    color: $text-color;
    padding: 70px;
    height: 200px;
    }
}

.links-container {
  align-self: center;
  padding: 30px;

  .link {
    padding: 10px;
  }

  a {
    text-decoration: none;
  }
}

