.add-student-form {
  color: black;
}
.add-student-form header {
  height: 15vh;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.add-student-form header h1 {
  width: 60rem;
  font-weight: bolder;
  font-size: 2em;
  color: purple;
  line-height: 100%;
}
.add-student-form__section {
  background-color: #e6ecf4;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 85vh;
  width: 100%;
}
.add-student-form__section__grid {
  background-color: white;
  max-width: 60rem;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 4px;
  padding: 4rem;
}
.add-student-form__section__grid__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.add-student-form__section__grid__buttons button[type=submit] {
  width: 100%;
  background-color: purple;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.add-student-form__section__grid__buttons button[type=submit]:hover {
  background-color: #0bc744;
  color: white;
}
.add-student-form__section__grid__buttons button[type=cancel] {
  width: 100%;
  background-color: #faf9f9;
  color: purple;
  padding: 14px 20px;
  border: 1px solid purple;
  cursor: pointer;
}
.add-student-form__section__grid__buttons button[type=cancel]:hover {
  border: 1px solid red;
  color: red;
}
.add-student-form__section__grid label.checkbox-input {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin: 8px 0;
}
.add-student-form__section__grid input[type=text],
.add-student-form__section__grid input[type=date],
.add-student-form__section__grid input[type=email],
.add-student-form__section__grid input[type=number],
.add-student-form__section__grid select {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}