@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.button {
  @include focus-outline;

  border: none;
  cursor: pointer;
  background-color: $disabled-button-color;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  width: 100%;
  transition: all 0.1s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    background-color: $disabled-button-color;
    color: $button-color;
  }

  &:hover {
    background-color: darken($button-color, 5%);
  }
}

.plusIcon {
  margin-right: 15px;
}

// at tablet breakpoints, button is no longer full width
@media screen and (min-width: $tablet-breakpoint) {
  .button {
    width: unset;
  }
}
